@charset 'UTF-8';
@import 'mixins';

@include font-face('Geometria', '../fonts/Geometria/Geometria', normal);
@include font-face('Geometria', '../fonts/Geometria-Medium/Geometria-Medium', 500);
@include font-face('Geometria', '../fonts/Geometria-Bold/Geometria-Bold', 700);
@include font-face('Geometria', '../fonts/Geometria-ExtraBold/Geometria-ExtraBold', 900);

$text: #424242;
$orange: #ff6c00;
$yellow: #ffcf00;
$blue: #207bbb;
$trans: all .2s ease-in-out;

body {
	@include r(1279) {
		overflow: visible;
	}
}

h2 {
	@include r(1279) {
		font-size: 31px;
	}
}

.menu .container>div:last-child {
    @include r(1279) {
		width: 67%;
	}
}

.container {
	@include r(1279) {
		padding: 0 10px;
		box-sizing: border-box;
	}
}

.main {
	.slide1 {
		@include r(1279) { background-image: url('../img/main2-1024.jpg'); }

		background-image: url('../img/main2.jpg');
	}

	.slide2 {
		@include r(1279) { background-image: url('../img/main1-1024.jpg'); }

		background-image: url('../img/main1.jpg');
	}

	.slide3 {
		@include r(1279) { background-image: url('../img/main3-1024.jpg'); }

		background-image: url('../img/main3.jpg');
	}
	
	&__info {
		h2 {
			@include r(1279) {
				font-size: 29px;
				font-weight: 900;
				line-height: 1.4;
			}
		}
	}
}

.comfort {
	height: 230px;

	&::before {
		@include r(1279) {
			width: 20vw;
		}
	}

	img {
		@include r(1279) {
			width: 375px !important;
		}
	}

	p {
		@include r(1279) {
			margin-top: 15px;
		}
	}
}

.submenu {
	padding: 77px 0 30px;

	.container {
		nav {
			display: flex;
			align-items: center;
			justify-content: space-between;

			a {
				color: $text;
				text-transform: uppercase;
				font-size: 16px;
				text-decoration: none;
			}
		}
	}
}

.features {
	padding: 21px 0;

	&.f1 {
		@include r(1279) {
			padding-bottom: 77px;
		}

		padding-bottom: 178px;
	}

	&.f2 {
		@include r(1279) {
			padding: 50px 0 75px;
		}

		padding: 67px 0 111px;

		.images {
			@include r(1279) {
				flex: 70%;
			}

			flex: 75%;
		}

		.icons {
			@include r(1279) {
				padding-left: 40px;
				flex: 30%;
			}

			flex: 25%;
			padding-left: 80px;
			padding-top: 9px;

			.icons__item {
				@include r(1279) {
					margin-bottom: 25px;
				}

				margin-bottom: 44px;

				&:last-child {
					margin-bottom: 0;
				}
			}
		}

		svg {
			font-size: 22px;
		}
	}

	&.f3 {
		@include r(1279) {
			padding: 50px 0 75px;
		}

		padding: 67px 0 111px;

		.images {
			flex: 56%;
		}

		.icons {
			flex: 44%;
			padding-left: 40px;
			padding-top: 0;

			.icons__item {
				margin-bottom: 28px;

				&:last-child {
					margin-bottom: 0;
				}

				span {
					font-size: 14px;

					strong {
						font-size: 16px;
						text-transform: uppercase;
						font-weight: bold;
					}
				}
			}
		}

		svg {
			font-size: 22px;
		}
	}

	&-gray {
		background-color: #f4f8f9;
	}

	h2 {
		margin-bottom: 38px;
	}

	.container {
		min-height: 100%;
		display: flex;
		align-items: stretch;
	}

	.icons {
		@include r(1279) {
			flex: 30%;
		}

		flex: 25%;

		&__item {
			@include r(1279) {
				margin-bottom: 30px;
			}

			display: flex;
			margin-bottom: 50px;
			align-items: center;

			&:last-child {
				margin-bottom: 0;
			}
		}

		&__icon {
			margin-right: 28px;
		}

		svg {
			fill: $blue;
		}

		span {
			font-size: 14px;
		}
	}

	.images {
		@include r(1279) {
			flex: 70%;
		}

		flex: 75%;
		position: relative;

		.swiper {
			&-container {
				height: 100%;
			}

			&-slide {
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center;
				width: 100% !important;
				opacity: 0 !important;

				&-active {
					opacity: 1 !important;
				}
			}
		}
	}
}

.four {
	@include r(1279) {
		padding: 45px 0 80px;
	}

	padding: 69px 0 91px;
	position: relative;

	&.f2 {
		&::after {
			bottom: initial;
			top: 0;
		}

		.item {
			@include r(1279) {
				width: 32%;
			}

			width: 33.33333333%;
		}
	}

	&::after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		height: 254px;
		background-color: #f4f8f9;
	}

	h2 {
		margin-bottom: 42px;
		position: relative;
		z-index: 1;
	}

	.flex {
		display: flex;
		justify-content: space-between;
		position: relative;
		z-index: 1;
	}

	.item {
		@include r(1279) {
			width: 24%;
		}

		width: 25%;

		span {
			@include r(1279) {
				white-space: normal;

				br {
					display: none;
				}
			}

			font-size: 14px;
			white-space: nowrap;

			strong {
				font-size: 16px;
				display: block;
			}
		}

		img {
			@include r(1279) {
				width: 100%;
			}

			margin-bottom: 15px;
		}
	}
}

.map-wrap {
	@include r(1279) {
		padding: 55px 0 80px;
	}

	padding: 69px 0 98px;

	h2 {
		span {
			font-size: 22px;
		}
	}

	.flex {
		display: flex;
		align-items: stretch;
	}

	.navigation {
		flex: 33%;
		display: flex;
		flex-direction: column;
		padding-right: 40px;
		box-sizing: border-box;

		a {
			@include r(1279) {
				padding: 13px 20px;
			}

			width: 100%;
			display: flex;
			align-items: center;
			background-color: #f4f8f9;
			margin-bottom: 2px;
			text-decoration: none;
			color: $text;
			padding: 17px 20px;
			box-sizing: border-box;

			&.active {
				background: $blue;
				color: #fff;

				span {
					text-transform: uppercase;
					font-weight: bold;
					white-space: nowrap;
				}

				svg {
					fill: #fff;
				}
			}

			svg {
				fill: $blue;
				font-size: 12px;
				margin-right: 25px;
			}

			span {
				@include r(1279) {
					font-size: 14px;
				}

				font-size: 16px;
			}
		}
	}

	.map {
		flex: 67%;
		background: #f8f8f8;
	}
}

.apartments {
	background-color: #f4f8f9;
	position: relative;
	padding: 68px 0 103px;

	h2 {
		margin-bottom: 35px;
	}

	.swiper-container {
		padding: 0 70px;
		position: relative;
	}

	.swiper-slide {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		opacity: 0 !important;

		&-active {
			opacity: 1 !important;
		}

		&.full {
			.apartments__item {
				width: 100%;
				display: flex;
				flex-direction: column;
				align-items: center;


				.btn {
					width: 235px;
				}
			}
		}
	}

	&__item {
		background: #fff;
		padding: 39px;
		text-align: center;
		width: 24%;
		transition: $trans;

		&:nth-child(1) { transition-delay: 200ms; }
		&:nth-child(2) { transition-delay: 300ms; }
		&:nth-child(3) { transition-delay: 400ms; }
	}

	&__img {
		@include r(1279) {
			width: 100%;
		}

		margin: 36px auto 43px;
		height: 180px;
	}

	&__title {
		font-size: 26px;
		font-weight: 700;
		line-height: 28px;
		font-size: 26px;
		text-transform: uppercase;
		text-align: center;
		margin: 0;

		span {
			text-transform: initial;
			font-weight: normal;
			font-size: 18px;
		}
	}

	&__btn {
		font-size: 16px;
		width: 93%;
		padding: 13px 0;
	}

	&__woman {
		@include r(1440) {
			display: none;
		}

		position: absolute;
		right: 0;
		bottom: -238px;
		pointer-events: none;
		user-select: none;
		width: 256px;
	}

	.swiper-button-next {
		background-image: url('../img/arrow-right-gray.svg');
		right: 0;
	}
	
	.swiper-button-prev {
		background-image: url('../img/arrow-left-gray.svg');
		left: 0;
	}
}

.questions {
	background: $blue;
	color: #fff;
	padding: 51px 0 39px;

	&.orange {
		background: $orange;

		h2 span {
			font-size: 48px;
		}
	}

	h2 {
		@include r(1279) {
			font-size: 25px;
		}

		font-size: 32px;
		text-transform: uppercase;
		font-weight: 400;
		margin-top: 0;
		margin-bottom: 40px;
		line-height: 1.2;

		span {
			font-weight: 900;
			text-transform: uppercase;
			white-space: nowrap;
		}
	}

	&__form {
		display: flex;
		align-items: center;
		justify-content: space-between;

		input,
		button {
			width: 33%;
			height: 60px;
		}

		button {
			font-size: 16px;
			font-weight: bold;
			text-transform: uppercase;
		}
	}

	&__desc {
		color: $yellow;
		font-size: 13px;
		font-weight: 500;
		margin-top: 31px;

		a {
			text-decoration: none;
			color: #fff;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}

.design {
	padding: 72px 0 97px;

	h2 {
		span {
			font-size: 22px;
		}
	}

	nav {
		display: flex;
		padding: 0 73px;

		a {
			background-color: #f4f8f9;
			width: 100%;
			text-decoration: none;
			color: $text;
			font-size: 18px;
			text-transform: uppercase;
			height: 58px;
			border-radius: 5px 5px 0 0;
			display: flex;
			align-items: center;
			justify-content: center;

			&:nth-child(2) {
				margin: 0 4px;
			}

			&.active {
				background-color: #bec6d0;
				font-weight: 700;
			}
		}
	}

	.swiper-button-next {
		background-image: url('../img/arrow-right-gray.svg');
		right: 0;
	}
	
	.swiper-button-prev {
		background-image: url('../img/arrow-left-gray.svg');
		left: 0;
	}

	.sliders {
		height: 62vh;
		padding: 0 73px;
		position: relative;

		.swiper {
			&-container {
				height: 100%;
				display: none;

				&.active {
					display: block;
				}
			}

			&-slide {
				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
			}
		}
	}

	.flex {
		padding: 0 73px;
		display: flex;
		justify-content: space-between;
		margin-top: 30px;

		div {
			display: flex;
			align-items: center;

			svg {
				margin-right: 25px;
				font-size: 20px;
				fill: $blue;
			}
		}
	}
}

.variants {
	padding: 54px 0;

	.desc {
		font-size: 12px;
	}

	h2 {
		margin-bottom: 42px;
	}

	ul {
		padding-left: 20px;
	}

	.item {
		display: flex;
		align-items: stretch;
		width: 100%;
		margin-bottom: 80px;

		a {
			color: $text;
			display: inline-block;
			margin-top: 20px;
		}
	}

	.info {
		flex: 45%;
		padding-right: 20px;
		box-sizing: border-box;

		p {
			font-size: 16px;
			margin-top: 0;

			&:first-child {
				margin-bottom: 40px;
			}
			
			strong {
				font-size: 16px;

				span {
					text-transform: uppercase;
					font-size: 26px;
					font-weight: bold;
				}
			}
		}
	}

	.slider {
		flex: 55%;
		overflow: hidden;
		position: relative;
		height: 500px;
	}

	.swiper {
		&-container {
			height: 100%;
		}
		
		&-slide {
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
		}
	}
}

.ways {
	position: relative;
	padding: 44px 0 61px;
	border-top: 1px solid #e0e2e6;

	&__family {
		@include r(1440) {
			z-index: -1;
			right: -15%;
		}

		@include r(1320) {
			display: none;
		}

		position: absolute;
		right: 0;
		bottom: 20px;
		width: 558px;
		pointer-events: none;
		user-select: none;
	}

	&__nav {
		margin-top: 37px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 67%;

		a {
			font-size: 20px;
			font-weight: 500;
			text-transform: uppercase;
			position: relative;
			text-decoration: none;
			transition: $trans;
			color: #343434;

			&:hover::before {
				background: #ccc;
				transform: translateY(0);
				opacity: 1;
			}

			&::before {
				content: '';
				position: absolute;
				left: 10px;
				bottom: -5px;
				right: 10px;
				height: 2px;
				opacity: 0;
				transform: translateY(-10px);
				transition: $trans;
			}

			&.active {
				color: $orange;
				font-weight: 700;

				&:hover::before {
					background: $orange;
				}

				&::before {
					opacity: 1;
					transform: translateY(0);
					background: $orange;
				}
			}
		}
	}

	&__title {
		@include r(1279) {
			margin-top: 0;
		}

		font-size: 26px;
		font-weight: 700;
		text-transform: uppercase;
		margin-bottom: -4px;
	}

	&__body {
		@include r(1279) {
			width: 100%;
		}

		width: 85%;
		margin-top: 73px;
	}

	&__banks {
		display: flex;
		align-items: center;
		margin-top: 50px;
    	margin-bottom: 58px;
	}

	&__tab {
		display: none;

		&.active {
			display: block;
		}
	}

	&__bank {
		display: flex;
		align-items: center;
		margin-right: 70px;
		flex-direction: column;

		div {
			min-height: 70px;
		}

		span {
			font-size: 18px;
		}
	}

	.btn {
		font-size: 16px;
		padding: 17px 0;
		margin-top: 5px;
		padding: 21px 34px;
		text-align: center;
		text-transform: uppercase;

		&.center {
			position: relative;
			left: 50%;
			transform: translateX(-50%);
			margin-top: 60px;
		}
	}
}

section.icons {
	background-color: #f4f8f9;
	padding: 44px 0 74px;

	h3 {
		color: $blue;
		margin-bottom: 46px;
	}

	.flex {
		display: flex;
		justify-content: space-between;

		.item {
			display: flex;
			align-items: center;

			svg {
				font-size: 36px;
				margin-right: 18px;
			}

			span {
				font-weight: 500;
			}
		}
	}
}

.view {
	@include r(1320) {
		height: 768px;
	}

	@include r(1279) {
		height: initial;
	}

	position: relative;
	height: 100%;
	padding: 94px 0;

	.wrap {
		@include r(1399) {
			height: 50vw;
		}

		position: relative;
		height: 61vh;
	}

	.one,
	.two,
	.three {
		opacity: 0;
		pointer-events: none;
		z-index: 1;
	}

	.swiper-pagination {
		left: 50%;

		.swiper-pagination-bullet {
			margin: 0 3px;
		}
	}

	.swiper-container {
		height: 100%;
		top: 0;
		left: 0;
		right: 0;
		display: none;

		&.active {
			opacity: 1;
			pointer-events: all;
			z-index: 2;
			display: block;
		}
	}

	.swiper-slide {
		height: 100%;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}

	.container {
		position: relative;
		z-index: 3;

		h2 {
			margin-top: 0;
		}
	}

	&__nav {
		margin-top: 25px;
		margin-bottom: 47px;

		a {
			font-size: 16px;
			text-decoration: none;
			color: #343434;
			display: inline-block;
			margin-right: 50px;
			position: relative;

			&.active {
				color: $blue;
				font-weight: bold;

				&::before {
					content: '';
					position: absolute;
					bottom: -10px;
					left: 0;
					width: 100%;
					height: 2px;
					background: $blue;
				}
			}
		}
	}
}

.company {
	padding: 67px 0 35px;
	background-color: #f4f6f8;
	box-sizing: border-box;

	&__nav {
		margin-top: 37px;
		display: flex;
		align-items: center;
		width: 90%;		

		a {
			font-size: 26px;
			font-weight: 500;
			text-transform: uppercase;
			position: relative;
			text-decoration: none;
			transition: $trans;
			color: #343434;
			margin-right: 30px;

			&[disable] {
				color: #a7a7a7;
				pointer-events: none;
				user-select: none;
			}

			&:hover::before {
				background: #ccc;
				transform: translateY(0);
				opacity: 1;
			}

			&::before {
				content: '';
				position: absolute;
				left: 0;
				bottom: -5px;
				right: 0;
				height: 2px;
				background: $blue;
				opacity: 0;
				transform: translateY(-10px);
				transition: $trans;
			}

			&.active {
				color: $blue;
				font-weight: 700;

				&:hover::before {
					background: $blue;
				}

				&::before {
					opacity: 1;
					transform: translateY(0);
				}
			}
		}
	}

	&__tab {
		opacity: 0;
		height: 0;
		overflow: hidden;
		position: relative;

		.company__tab {
			margin-top: 0;
		}

		&.active {
			opacity: 1;
			height: auto;
			overflow: visible;
		}

		.swiper-button-next {
			@include r(1366) {
				right: -60px;
			}

			@include r(1320) {
				background-size: 25px;
				right: -45px;
			}

			top: 60%;
			right: -100px;
		}

		.swiper-button-prev {
			@include r(1366) {
				left: -60px;
			}

			@include r(1320) {
				background-size: 25px;
				left: -45px;
			}

			top: 60%;
			left: -100px;
		}

		.swiper-container {
			@include r(1279) {
				height: 600px;
			}

			width: 100%;
			height: 670px;
			margin-top: 39px;

			.swiper-slide {
				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
			}
		}

		.company__nav {
			margin-top: 65px;
			justify-content: flex-start;

			&-sub {
				margin-top: 20px;

				a {
					text-transform: initial;
					font-size: 16px !important;
					margin-right: 41px !important;

					&[disable] {
						color: #a7a7a7;
						pointer-events: none;
						user-select: none;
					}

					&::before {
						display: block !important;
						height: 1px;
					}
				}
			}

			a {
				margin-right: 30px;
				text-decoration: none;
				font-size: 24px;
				color: #686868;

				&.active {
					color: $blue;
				}
				
				&::before {
					display: none;
				}
			}
		}

		p {
			line-height: 1.3;
			margin-bottom: 27px;
			font-size: 18px;
		}
	}

	iframe {
		margin-top: 85px;
	}

	.flex {
		display: flex;
		align-items: flex-start;
		margin-top: 39px;

		p {
			strong {
				font-size: 20px;
			}
		}

		img {
			flex-shrink: 0;
			margin-right: 4.4vw;
			margin-top: 21px;
		}
	}

	&__documents {
		border-top: 2px solid #d1d7d9;
		margin-top: 54px;
		padding: 65px 0 30px;
		display: flex;
		align-items: flex-start;
	}

	&__title {
		font-weight: 700;
		text-transform: uppercase;
		margin-right: 6.7vw;
		font-size: 20px;
	}

	&__forms {
		width: 100%;
	}

	&__more {
		color: #343434;
		font-size: 20px;
		line-height: 24px;
		text-decoration: underline;
		display: inline-block;
		margin-top: 21px;
		transition: $trans;
		font-weight: 500;

		&:hover {
			color: $blue;
		}
	}

	&__policy {
		color: #888787;
		font-size: 12px;
		text-decoration: underline;
		display: inline-block;
		transition: $trans;
		text-align: right;

		&:hover {
			color: $blue;
		}
	}
}

.documents {
	border: 1px solid #dcdcdc;
	padding: 16px 10px;
	display: block;
	margin-bottom: 17px;
	-moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
	appearance:none;
	position: relative;
	background: #fff;
	border-radius: 5px;

	&::before {
		content: '';
		position: absolute;
		right: 15px;
		top: 14px;
		background: url('../img/select-arrow.svg')no-repeat 98% center;
		background-size: 20px;
		width: 20px;
		height: 20px;
		pointer-events: none;
		user-select: none;
	}

	&__toggle {
		margin: 0 !important;
		cursor: pointer;
	}

	&__body {
		display: flex;
		flex-direction: column;
		padding: 0 10px;
		display: none;
		overflow: hidden;

		a {
			display: block;
			text-decoration: none;
			margin-bottom: 25px;
			position: relative;
			padding-left: 80px;
			color: #343434;

			&:first-child {
				margin-top: 40px;
			}

			&:hover {
				text-decoration: underline;
			}

			&::before {
				content: '';
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				left: 10px;
				background: url('../img/pdf.svg') no-repeat center;
				background-size: cover;
				width: 50px;
				height: 50px;
			}

			span {
				display: block;

				&.name {
					color: #424242;
					font-size: 18px;
					margin-bottom: 3px;
				}

				&.size {
					color: #838383;
					font-size: 14px;
				}
			}
		}
	}
}

.steps {
	background: #fff;
	padding: 67px 0 100px;

	.swiper-button-next, 
	.swiper-button-prev {
		top: 66%;
	}

	.container {
		position: relative;
	}

	.company__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-right: 50px;
		margin-bottom: 6px;

		h2 {
			flex-shrink: 0;
			margin: 0;
		}
	}

	.ready {
		position: relative;
		width: 43%;

		.bar {
			width: 100%;
			height: 16px;
			border-radius: 8px;
			background: #e0e2e6;
			box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.25);

			span {
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				width: 19%;
				background: $blue;
				border-radius: 8px;
			}
		}
		
		.count {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: -47px;
			color: $blue;
			font-size: 24px;
			font-weight: 900;
		}

		.desc {
			position: absolute;
			top: -22px;
			left: 0;
			font-size: 14px;
		}
	}
}

.contacts {
	@include r(1399) {
		height: 40vw;
	}

	height: 75vh;

	.flex {
		display: flex;
		align-items: stretch;
		height: 100%;

		div {
			flex: 1;
		}
	}

	p {
		font-size: 14px;
		line-height: 1.4;

		&.contacts__title {
			text-transform: uppercase;
			font-weight: 900;
			font-size: 26px;
			margin-bottom: 38px;
		}
	}

	a {
		text-decoration: none;
		color: #fff;
	}

	.press {
		font-size: 16px;
		margin-top: 37px;
	}

	.links {
		line-height: 1.5;
		font-size: 16px;
		margin-bottom: 40px;

		a:first-child {
			font-size: 26px;
			font-weight: 500;
		}
	}

	&__desc {
		background: url('../img/footer.jpg') no-repeat center;
		background-size: cover;
		height: 100%;
		width: 50%;
		position: relative;
		color: #fff;

		.info {
			@include r(1440) {
				left: 16%;
			}

			position: absolute;
			bottom: 22px;
			left: 39%;
		}
	}

	.map {
		width: 50%;
		background: #f8f8f8;
	}
}

.footer {
	padding: 19px 0 72px;
	position: relative;
	color: #a4a4a4;
	z-index: 1;
	font-size: 12px;

	a {
		display: inline-block;
		color: #a4a4a4;
	}

	.policy {
		margin-top: 30px;
		margin-bottom: 25px;
	}

	.container {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	&__man {
		@include r(1700) {
			display: none;
		}

		position: absolute;
		top: -283px;
		left: 10px;
		pointer-events: none;
		user-select: none;
	}
}

.backdrops {
	position: fixed;
	z-index: 13;
	background: #000;
	opacity: .6;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	transition: $trans;
	opacity: 0;
	pointer-events: none;
	user-select: none;

	&.active {
		opacity: .6;
	}
}

.modals {
	position: fixed;
	z-index: 13;
	background: rgba(#000, .6);
	opacity: .8;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	transition: $trans;
	opacity: 0;
	pointer-events: none;
	user-select: none;
	display: flex;
	align-items: center;
	justify-content: center;

	&.active {
		opacity: 1;
		pointer-events: all;
	}
}

.modal {
	@include r(1440) {
		max-width: 75vw;
		max-height: 89vh;
	}

	@include r(1279) {
		max-width: 95vw;
	}

	background: #fff;
	padding: 45px 60px;
	position: relative;
	user-select: auto;
	max-width: 64vw;
    max-height: 78vh;
	overflow: auto;
	z-index: -10;
	opacity: 0;

	&.active {
		z-index: 1;
		opacity: 1;
		display: block !important;
	}

	&__title {
		@include r(1440) {
			font-size: 18px !important;
		}

		font-weight: 700;
		font-size: 24px !important;
		color: $blue;
	}

	p {
		margin-top: 0;
		font-size: 14px;
	}

	&__close {
		width: 30px;
		height: 30px;
		position: absolute;
		top: 25px;
    	right: 25px;
		cursor: pointer;

		&::before,
		&::after {
			content: '';
			position: absolute;
			left: 0;
			top: 15px;
			height: 2px;
			width: 100%;
			background: #afafaf;
			transition: $trans;
		}

		&::before {
			transform: rotate(-45deg);
		}

		&::after {
			transform: rotate(45deg);
		}

		&:hover {
			&::before {
				transform: rotate(-40deg);
			}

			&::after {
				transform: rotate(40deg);
			}
		}
	}

	form {
		.form-group {
			position: relative;
			margin-bottom: 20px;
			display: flex;
			align-items: center;
		}
		
		input {
			border-bottom: 1px solid #848484;
			font-size: 16px;
			border-radius: 0;
			height: 45px;
			padding-left: 0;
			width: 100%;
			box-sizing: border-box;

			&:focus + label,
			&.active + label {
				top: -5px;
				font-size: 12px;
				color: $blue;
			}
		}

		input[type='checkbox'] {
			background: #fff;
			-moz-appearance:none; /* Firefox */
			-webkit-appearance:none; /* Safari and Chrome */
			appearance:none;
			border: 1px solid #848484;
			border-radius: 2px;
			width: 20px;
			height: 20px;
			margin-right: 10px;
			margin-top: 20px;
			cursor: pointer;

			&:checked {
				background: url('../img/tick-sign.svg') no-repeat center $blue;
				background-size: 13px;
				border-color: $blue;

				& + label {
					color: $blue !important;

					a {
						color: $blue;
					}
				}
			}

			&:focus + label {
				font-size: 16px;
				color: #848484;
				transition: none;
			}

			& + label {
				position: static;
				margin-top: 24px;
				pointer-events: all;
				cursor: pointer;
			}
		}

		label {
			position: absolute;
			left: 0;
			top: 13px;
			font-size: 16px;
			color: #848484;
			pointer-events: none;
			user-select: none;
			transition: $trans;			

			a {
				color: #343434;
			}
		}

		button {
			width: 100%;
			font-size: 18px;
			font-weight: 500;
			padding: 14px 0;
			margin-top: 20px;
		}
	}
}

.modal[data-modal='pantry'],
.modal[data-modal='apartments1'],
.modal[data-modal='apartments2'],
.modal[data-modal='apartments3'],
.modal[data-modal='apartmentss'],
.modal[data-modal='apartmentse2'],
.modal[data-modal='apartmentse3'] {
	width: 1130px;
	padding: 0;

	.design {
		padding: 15px 0;
		width: 100%;
		text-align: center;
		background-color: #f4f8f9;
		border-radius: 2px;
		color: #5b5b5b;
		font-weight: 500;
	}

	.swiper-button-next {
		background-image: url('../img/arrow-right-gray.svg');
		right: 0;
	}
	
	.swiper-button-prev {
		background-image: url('../img/arrow-left-gray.svg');
		left: 0;
	}

	&.active {
		display: flex !important;
	}

	.modal__close {
		&::before,
		&::after {
			background: #fff;
		}
	}

	& > div:not(.modal__close) {
		width: 50%;
		padding: 45px 60px;

		&:nth-child(2) {
			.swiper-button-prev {
				@include r(1440) {
					left: 0;
				}

				background-size: 20px;
				left: 15px;
			}

			.swiper-button-next {
				@include r(1440) {
					right: 0;
				}

				background-size: 20px;
				right: 15px;
			}

			.swiper-container {
				@include r(1440) {
					height: 440px;
					width: 440px;
				}

				@include r(1366) {
					width: 350px;
					height: 350px;
				}

				height: 459px;
				width: 513px;
				margin-bottom: 20px;

				.swiper-slide {
					@include r(1366) {
						background-size: 70%;
					}

					background-size: 370px;
					background-position: center;
					background-repeat: no-repeat;
					width: 100% !important;
				}
			}
			
			.modal__title {
				font-size: 32px !important;
				margin-bottom: 20px;
			}

			p {
				font-size: 18px;

				span {
					color: $blue;
				}

				a {
					color: $blue;
					font-weight: 700;
					text-decoration: none;

					&:hover {
						text-decoration: underline;
					}
				}
			}
		}

		&:nth-child(3) {
			background-color: #1047a9;
			color: #fff;

			.modal__title {
				color: #fff;
			}

			button {
				@include r(1366) {
					margin-top: 25px;
				}

				margin-top: 50px;
				color: $blue;
				font-weight: 700;
				background: #fff;
			}

			input {
				background: transparent;
				border-bottom: 1px solid #fff;
				color: #fff;

				&[type='checkbox'] {
					background: #fff;
					border-radius: 3px;
					cursor: pointer;
					border: 0;

					&:checked {
						background: url('../img/tick-sign-gray.svg') no-repeat center #fff;

						& + label {
							color: #fff !important;

							a {
								color: #fff;
							}
						}
					}

					& + label a {
						color: $yellow;
					}
				}
			}

			label {
				color: #fff;
				font-size: 14px;
			}
		}
	}
}

.modal[data-modal='policy'] {
	overflow: hidden;
	padding: 0;

	.body {
		width: calc(100% + 17px);
		height: 100%;
		max-height: 78vh;
		overflow-y: scroll;
		box-sizing: border-box;
		padding: 45px 60px;
	}

	.modal__title {
		font-size: 36px !important;
		text-align: center;
		color: #424242;
	}

	p {
		color: #424242;
		font-size: 18px;
	}

	ul {
		li {
			font-size: 16px;
		}
	}
}

.modal[data-modal='apartmentss'] {
	.swiper-slide {
		background-size: 200px !important;
	}
}

.specialist {
	@include r(1366) {
		margin-bottom: 25px;
	}

	display: flex;
	align-items: center;
	margin-bottom: 80px;
	margin-top: 40px;

	img {
		border-radius: 50%;
		margin-right: 15px;
	}

	p {
		font-size: 14px;
		line-height: 1.5;
		margin-bottom: 5px;

		span {
			font-size: 20px;
			font-weight: 500;
		}
	}

	a {
		color: #fff;
		font-size: 16px;
		font-weight: 700;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}

.modal[data-modal='policy'] {
	overflow: hidden;
	padding: 0;

	.body {
		width: calc(100% + 17px);
		height: 100%;
		max-height: 78vh;
		overflow-y: scroll;
		box-sizing: border-box;
		padding: 45px 60px;
	}

	.modal__title {
		font-size: 36px !important;
		text-align: center;
		color: #424242;
	}

	p {
		color: #424242;
		font-size: 18px;
	}

	ul {
		li {
			font-size: 16px;
		}
	}
}

.modal[data-modal='apartmentss'] {
	.swiper-slide {
		background-size: 200px !important;
	}
}

@keyframes path {
	to {
		stroke-dashoffset: 0;
	}
}

.modal[data-modal='success'] {
	text-align: center;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	width: 405px;

	&.active {
		circle {
			animation: path .6s ease-in-out 400ms forwards;
		}

		polyline {
			animation: path .6s ease-in-out 600ms forwards;
		}
	}

	svg {
		fill:none;
		stroke:$blue;
		stroke-width:8;
		stroke-miterlimit:10;
		margin-bottom: 20px;

		circle {
			stroke-dashoffset: 207.01016235351562;
			stroke-dasharray: 207.01016235351562;
		}

		polyline {
			stroke-dashoffset: 43.43949508666992;
			stroke-dasharray: 43.43949508666992;
		}
	}

	p {
		font-size: 16px;

		&.modal__title {
			color: $blue;
			text-transform: uppercase;
			font-size: 24px;
			font-weight: 900;
			margin-bottom: 15px;
		}
	}

	.btn {
		width: 100%;
		padding: 20px 0;
		text-align: center;
		background-color: #e0e2e6;
		text-transform: uppercase;
		color: $text;
		text-transform: uppercase;
		margin-top: 20px;
	}
}

.scrolltop {
	@include r(1279) {
		display: none !important;
	}

	position: fixed;
    left: 80px;
    bottom: 50px;
    z-index: 12;
	cursor: pointer;
	transition: $trans;
	transform: scale(1);

	&:hover {
		transform: scale(1.1);
	}
}

.pb-widget-button__inner,
.pb-widget-button__inner:after {
	background: $orange !important;
}

.newsletter {
	background: $blue;
	color: #fff;
	padding: 51px 0 39px;

	&__title {
		font-size: 22px;
		text-transform: uppercase;
		font-weight: 900;
		margin-right: 60px;

		span {
			font-size: 36px;
		}
	}

	.flex {
		display: flex;
		align-items: center;
	}

	&__form {
		width: 100%;
		display: flex;

		input {
			width: 70%;
			height: 58px;
			flex-shrink: 0;
			margin-right: 10px;
		}

		button {
			height: 58px;
			width: 100%;
		}
	}

	.questions__desc {
		margin-top: 0;
		text-align: right;
		margin-top: -5px;
		margin-bottom: 0;
	}
}

.press {
	background-color: #f4f8f9;
	padding: 40px 0;

	h2 {
		margin-bottom: 40px;
	}

	&__item {
		border-bottom: 1px solid #bdbdbd;
		margin-bottom: 40px;
		padding-bottom: 20px;
	}

	.btn {
		padding: 21px 48px;
		font-size: 16px;
		font-weight: bold;
	}

	&__title {
		font-size: 26px;
		font-weight: bold;
		text-transform: uppercase;
		margin-bottom: 40px;
	}

	&__time {
		display: flex;
		align-items: center;
		margin-bottom: 30px;

		img {
			width: 25px;
			margin-right: 20px;
		}

		span {
			display: inline-block;
			font-size: 16px;
			color: #828282;
		}
	}

	&__text {
		color: #424242;
	}

	&__full {
		color: #424242;
		display: none;
	}

	&__arrow {
		color: #828282;
		display: flex;
		align-items: center;
		margin-top: 40px;
		cursor: pointer;

		img {
			width: 30px;
			margin: 0 20px;
		}
	}
}

.found {
	p {
		color: #828282;
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		span {
			white-space: nowrap;
			font-size: 16px;
			color: #828282;
			display: inline-block;
			margin: 0 10px 10px;
		}
	}
}

@media (min-height: 1281px) {
	.main {
		height: 800px;
	}

	.design .sliders {
		height: 600px;
	}
}
